@theme-background-color: #18171d;
@theme-background-color-light: #18171d7f;
@theme-second-color: #21232a;
@theme-second-color-light: #21232a7f;
@theme-highlight-color: #ffc848;
@font-color: #F7F7FA;
@box-color: #1b1c20;
@border-color: #3d3d3f;
@focus-color: #d44040;
span,a{
  color: @font-color
}

.colorfulword {
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(135deg, rgb(14, 175, 109), rgb(255, 106, 198) 25%, rgb(20, 123, 150) 50%, rgb(230, 210, 5) 55%, rgb(44, 196, 224) 60%, rgb(139, 44, 224) 80%, rgb(255, 99, 132) 95%, rgb(8, 223, 180)) 0% 0% / 200% 200% text;
  animation: 16s linear 0s infinite normal none running flowCss;
}
flowCss animation {
  background-position-x: -281.973%;
  background-position-y: 0px;
}
@keyframes flowCss {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -400% 0px;
  }
  
}